@import "tailwindcss";

@theme {
  --color-bgprimary: #161B22;
  --color-bgsecondary: #0D1117;
  --color-bgsimple: #16161e;
  --color-textprimary: #22c55e;
}
:root {
  font-family:'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D1117;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



